In [1]:
import matplotlib.pyplot as plt
import pandas as pd
from matplotlib import font_manager as fm
from matplotlib import cm
import matplotlib
import openpyxl
from openpyxl.utils import get_column_letter, column_index_from_string
plt.rcParams["figure.dpi"] = 200

In [3]:
datao = pd.read_excel('output.xlsx')
datao

,Unnamed: 0,Website,Trustworthiness,Avg_Daily_Visitors,Child_Safety,Avg_Daily_Pageviews,Privacy,Facebook_likes,Twitter_mentions,Google_pluses,LinkedIn_mentions,Pinterest_pins,StumbleUpon_views,Traffic_Rank,Location,Hosted_by,country
0,0,www.google.com.af,Excellent,NaN,Excellent,NaN,Excellent,9,1,37,7,-,7,954,United States,Google Inc.,Afghanistan
1,1,www.google.com,Excellent,515 007 350,Excellent,4 192 159 833,Excellent,94.2K,11.2K,11.7M,1.67K,10.8K,246K,1,United States,Google Inc.,Afghanistan
2,2,www.youtube.com,Excellent,506 457 282,Excellent,2 679 159 025,Excellent,13.5K,16.5K,19.3M,60K,47,329K,2,United States,Google Inc.,Afghanistan
3,3,www.facebook.com,Excellent,270 071 255,Good,1 082 985 733,Excellent,5.87M,64.4K,127K,6.23K,4.15K,23.1K,3,Ireland,Facebook,Afghanistan
4,4,www.yahoo.com,Excellent,99 572 035,Excellent,383 352 336,Excellent,17.2K,1.11K,798K,7.5K,433,68.9K,6,United States,Yahoo! Inc.,Afghanistan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3396,3396,www.propertybook.co.zw,Unknown,505,Unknown,1 009,Unknown,2,-,-,86,-,1,438 021,United States,"CloudFlare, Inc.",Zimbabwe
3397,3397,www.dailynews.co.zw,Unknown,11 902,Unknown,28 566,Unknown,-,27,42,5,-,-,85 166,Ireland,"Amazon.com, Inc.",Zimbabwe
3398,3398,www.newsdzezimbabwe.co.uk,Unknown,11 862,Unknown,51 010,Unknown,-,15,3,-,-,-,77 934,United States,Google Inc.,Zimbabwe
3399,3399,www.nehandaradio.com,Unknown,9 946,Unknown,19 894,Unknown,3,256,214,4,-,1,58 327,United States,"CloudFlare, Inc.",Zimbabwe
3400,3400,www.emailaccessonline.com,Poor,1 331 630,Unknown,1 717 804,Poor,-,-,4,-,-,-,1 098,United States,Amazon Technologies Inc.,Zimbabwe

In [4]:
datao = pd.read_excel('Web_Scrapped_websites.xlsx')

IndexError: list index out of range